@import "~@/assets/variables";

.container {
  background-color: $color-white;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.content {
  @include content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.heading {
  @include sectionHeading;
}

.slider {
  overflow: hidden;
  transition: all .2s;

  &-items {
    display: flex;
    margin-left: 0;
    transition: all 1s cubic-bezier(.65, 1.41, .59, .95);


    & > *:not(:last-child) {
      margin-right: 6rem;
    }
  }
}