@import "~@/assets/variables";

.container {
  position: relative;
  grid-column: 1 / -1;
  justify-self: center;
  opacity: 0;
  left: -50%;
  transition: opacity .3s, left .5s;
}

.loader {
  width: 8rem;
  height: 8rem;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    transform: translate(-50%, -50%);
    background-color: $color-accent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100rem;
    transform: translate(-50%, -50%);
    background-color: $color-accent;
    animation: loadingAnim ease-in-out 1s infinite;
  }
}

.visible {
  left: 0;
  opacity: 1;
}

@keyframes loadingAnim {
  0% {
    width: 5rem;
    height: 5rem;
    opacity: 1;
  }
  100% {
    width: 8rem;
    height: 8rem;
    opacity: 0;
  }
}