@import "~@/assets/variables";

.item {
  display: flex;
  flex-direction: column;
}

.img {
  grid-column: 1 / -1;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 2.8rem;
  margin-bottom: 1.1rem;
}

.title,
.price {
  font-weight: $fw-regular;
  color: $color-primary;
  font-size: 1.6rem;
}

.rating {
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}