@import "~@/assets/variables";

.container {
  display: flex;
  background-color: $color-white;

  & > *:not(:last-child) {
    margin-right: 1.1rem;
  }
}

.dot {
  background-color: #dedede;
  border-radius: 100rem;
  width: 9px;
  height: 9px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .2s;

  &:not(.active):hover {
    border-color: #000;
  }
}

.active {
  background-color: #9b9b9b;
}