@import "~@/assets/variables";

.container {
  @include content;
  text-align: center;
  overflow: hidden;
  margin-top: 4.5rem;
  transition: all .35s;
}

.invisible {
  transform: translateX(-100%);
  margin-top: 0;
}

.button {
  position: relative;
  display: inline-flex;
  color: $color-primary-light;
  border: 1px solid currentColor;
  padding: 1.1rem 1.5rem;
  align-items: center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    color: $color-primary;
  }

  &:focus,
  &:active {
    background-color: $color-primary;
    color: $color-white;
  }
}

.text {
  color: currentColor;
  font-size: 1.4rem;
}

.divider {
  width: 1px;
  height: 12px;
  background-color: currentColor;
  margin: auto 1.2rem;
}

.icon {
  width: 12px;
  height: 7px;
  fill: currentColor;
}