/// Include fonts
@import url('https://fonts.googleapis.com/css?family=Aleo:300,300i,400,700&display=swap');

@font-face {
  font-family: 'WCManoNegraBta';
  src: url('@/assets/fonts/WCManoNegraBta/WCManoNegraBta.otf');
  font-weight: normal;
  font-style: normal;
}

/// Include variables
@import "~@/assets/variables";

/// App styling
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 960px) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Aleo", sans-serif;
  background: $color-primary;
}

.app {
  position: relative;
}