@import "~@/assets/variables";

.container {
  background: url('@/assets/img/header-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  @include content;
  text-align: center;
  padding: 21rem 0;
}

.heading {
  font-family: 'WCManoNegraBta', sans-serif;
  color: $color-white;
  font-size: 10rem;
  margin-bottom: 2rem;
}

.sub-heading {
  display: inline-block;
  position: relative;
  color: $color-white;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 1px;
    background-color: $color-white;
  }

  &::before {
    left: -7rem;
  }

  &::after {
    right: -7rem;
  }
}