@import "~@/assets/variables";

.container {
  background-color: #3b3b3b;
  color: $color-text-light;
}

.content {
  @include content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/*********************************
* INFO
*********************************/
.info {
  font-size: 1.6rem;
  line-height: 3.1rem;
  font-weight: $fw-light;

  &-title {
    display: inline;
    font-weight: $fw-regular;
  }
}

/*********************************
* LINKS
*********************************/
.links {
  display: grid;
  grid-row-gap: 2rem;

  & > a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $color-text-light;
    font-size: 1.6rem;
    transition: all .2s;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -2rem;
      opacity: 0;
      width: .6rem;
      height: .6rem;
      transform: translateY(-50%) rotate(45deg);
      border: 2px solid;
      border-color: lighten($color-accent, 15%) lighten($color-accent, 15%) transparent transparent;
      transition: all .2s;
    }

    &:hover {
      padding-left: 1rem;

      &::before {
        left: -1rem;
        opacity: 1;
      }
    }
  }
}


/*********************************
* COPYRIGHT
*********************************/
.copyright {
  //
  font-size: 1.4rem;

  &-text {
    margin-top: 3rem;
    line-height: 3.1rem;

    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      font-weight: $fw-bold;
      color: $color-text-light;
      font-size: 1.6rem;
      transition: all .2s;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -2rem;
        opacity: 0;
        width: .6rem;
        height: .6rem;
        transform: translateY(-50%) rotate(45deg);
        border: 2px solid;
        border-color: lighten($color-accent, 15%) lighten($color-accent, 15%) transparent transparent;
        transition: all .2s;
      }

      &:hover {
        padding-left: .3rem;
        margin-left: 1.5rem;

        &::before {
          left: -1rem;
          opacity: 1;
        }
      }
    }
  }
}

/*********************
* Responsive
*********************/
@media only screen and (max-width: 800px) {
  .content {
    grid-template-columns: repeat(2, auto);
    grid-gap: 6rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  .content {
    grid-template-columns: auto;
  }
}