@import "~@/assets/variables";

.container {
  background-color: $color-white;
  padding-top: 10rem;
  padding-bottom: 20rem;
}

.content {
  @include content;
}

.header {
  display: block;
}

.heading {
  @include sectionHeading;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 8rem;
}

/*********************
* Responsive
*********************/
@media only screen and (max-width: 1300px) {
  .container {
    padding-bottom: 10rem;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    padding-bottom: 0;
  }

  .content {
    margin: 0;
    display: inline;
  }

  .heading {
    @include content;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    text-align: center;
  }
}